<div id="<%= dom_id efemeride %>">
  <p>
    <strong>Date:</strong>
    <%= efemeride.date %>
  </p>

  <p>
    <strong>Categories:</strong>
    <%= efemeride.categories %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= efemeride.comments %>
  </p>

  <img src="<%= efemeride.photo%>">
</div>
<br>
